<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="icon" href="favicon.svg">

    <link rel="stylesheet" href="css/_libs.css">

</head>
<body>
<header class="header">
    <div class="container">
        <div class="header-row">
            <div class="header-row__logo">
                <a href="/" title="Home">
                    <img src="./img/logo.svg" alt="logo">
                </a>
            </div>
            <div class="header-row__login">
                <div class="btn-100">
                    <a href="#" class="a-btn a-btn-active">Users</a>
                </div>
                <div class="btn-100">
                    <a href="#" class="a-btn a-btn-active">Sign up</a>
                </div>
            </div>
        </div>
    </div>
</header>

<main class="main">
    <section class="home">
        <div class="container">
            <div class="home-block">
                <div class="home__heading">
                    <h1 class="zindex">
                        Test assignment for front-end developer
                    </h1>
                </div>

                <div class="home__text">
                    <div class="zindex">
                        <p>
                            What defines a good front-end developer is one that has skilled knowledge of HTML, CSS, JS with
                            a
                            vast understanding of User design thinking as they'll be building web interfaces with
                            accessibility
                            in mind. They should also be excited to learn, as the world of Front-End Development keeps
                            evolving.
                        </p>
                    </div>
                </div>
                <div class="home__btn">
                    <div class="zindex btn-100">
                        <a href="#" class="a-btn a-btn-active">Sign up</a>
                    </div>

                </div>

                <div class="home__bg-img">
                    <img src="./img/Rectangle.png" alt="Background cover">
                </div>
            </div>
        </div>

    </section>

    <section class="people">
        <div class="container">
            <h2 class="people__title">
                Working with GET request
            </h2>
            <div class="people__list">
                <div class="list-item">
                    <img class="list-item-img" src="img/photo/Salvador.png"
                         alt="Salvador Stewart Flynn Thomas Salva Salvetor">
                    <h3 class="list-item-name">
                        Salvador Stewart Flynn Thomas Salva Salve...
                    </h3>
                    <div class="list-item-comtent">
                        <p class="list-item-position">
                            Leading specialist of the department of center of center
                        </p>
                        <p class="list-item-mail">
                            frontend_develop@gmail.com
                        </p>
                        <p class="list-item-phone">
                            +38 (098) 278 44 24
                        </p>
                    </div>
                </div>
                <!-- //list-item -->

                <div class="list-item">
                    <img class="list-item-img" src="img/photo/Takamaru.png"
                         alt="Takamaru Ayako Jurrien">
                    <h3 class="list-item-name">
                        Takamaru Ayako Jurrien
                    </h3>
                    <div class="list-item-comtent">
                        <p class="list-item-position">
                            Lead Independent Director
                        </p>
                        <p class="list-item-mail">
                            Takamuru@gmail.com
                        </p>
                        <p class="list-item-phone">
                            +38 (098) 278 90 25
                        </p>
                    </div>
                </div>
                <!-- //list-item -->

                <div class="list-item">
                    <img class="list-item-img" src="img/photo/Ilya.png"
                         alt="Ilya">
                    <h3 class="list-item-name">
                        Ilya
                    </h3>
                    <div class="list-item-comtent">
                        <p class="list-item-position">
                            Co-Founder and CEO
                        </p>
                        <p class="list-item-mail">
                            Ilya_founder@gmail.com
                        </p>
                        <p class="list-item-phone">
                            +38 (098) 235 44 29
                        </p>
                    </div>
                </div>
                <!-- //list-item -->

                <div class="list-item">
                    <img class="list-item-img" src="img/photo/Alexandre.png"
                         alt="Alexandre">
                    <h3 class="list-item-name">
                        Alexandre
                    </h3>
                    <div class="list-item-comtent">
                        <p class="list-item-position">
                            Lead Independent Director
                        </p>
                        <p class="list-item-mail">
                            Alexandr_develop@gmail.com
                        </p>
                        <p class="list-item-phone">
                            +38 (098) 198 44 24
                        </p>
                    </div>
                </div>
                <!-- //list-item -->

                <div class="list-item">
                    <img class="list-item-img" src="img/photo/Winny.png"
                         alt="Winny">
                    <h3 class="list-item-name">
                        Winny
                    </h3>
                    <div class="list-item-comtent">
                        <p class="list-item-position">
                            Former Senior Director
                        </p>
                        <p class="list-item-mail">
                            Winny_develop@gmail.com
                        </p>
                        <p class="list-item-phone">
                            +38 (098) 278 22 88
                        </p>
                    </div>
                </div>
                <!-- //list-item -->

                <div class="list-item">
                    <img class="list-item-img" src="img/photo/Simon.png"
                         alt="Simon">
                    <h3 class="list-item-name">
                        Simon
                    </h3>
                    <div class="list-item-comtent">
                        <p class="list-item-position">
                            President of Commerce
                        </p>
                        <p class="list-item-mail">
                            Simon@gmail.com
                        </p>
                        <p class="list-item-phone">
                            +38 (098) 278 44 00
                        </p>
                    </div>
                </div>
                <!-- //list-item -->

            </div>
            <div class="people__btn btn-120">
                <a href="#" class="a-btn a-btn-active">Show more</a>
            </div>
        </div>
    </section>

    <section class="request">
        <div class="container">
            <h2 class="request__title">
                Working with POST request
            </h2>

            <form action="/" method="post">
                <ul>
                    <li>
                        <div class="request-grid">
                            <label class="request-label border-error">
                                <input class="request-input" type="text" id="name"
                                       name="user_name" placeholder="Your name">
                            </label>
                            <div class="request-grid-label text-error">error</div>
                        </div>
                    </li>
                    <li>
                        <div class="request-grid">
                            <label class="request-label">
                                <input class="request-input" type="email" id="mail"
                                       name="user_mail" placeholder="Email">
                            </label>
                            <div class="request-grid-label text-error none">error</div>
                        </div>
                    </li>
                    <li>
                        <div class="request-grid">
                            <label class="request-label">
                                <input class="request-input" type="text" id="phone"
                                       name="user_phone" placeholder="Phone">
                            </label>
                            <div class="request-grid-label">+38 (XXX) XXX - XX - XX</div>
                        </div>
                    </li>
                    <li>
                        <div class="request-title">
                            Select your position
                        </div>


                        <div class="request-radio">
                            <div class="custom-radio">
                                <input type="radio" name="radio" id="radio1" checked>
                                <label for="radio1">Frontend developer</label>
                            </div>

                            <div class="custom-radio">
                                <input type="radio" name="radio" id="radio2">
                                <label for="radio2">Backend developer</label>
                            </div>

                            <div class="custom-radio">
                                <input type="radio" name="radio" id="radio3">
                                <label for="radio3">Designer</label>
                            </div>

                            <div class="custom-radio">
                                <input type="radio" name="radio" id="radio4">
                                <label for="radio4">QA</label>
                            </div>
                        </div>

                    </li>
                    <li>
                        <div class="request_upload">
                            <div class="mask-wrapper">
                                <div class="mask">
                                    <button class="send-file send-file-active">Upload</button>
                                    <input class="fileInputText active" type="text" placeholder="Upload your photo" disabled>
                                    <div class="request-grid-label text-error default">error</div>
                                </div>
                                <input id="my_file" class="custom-file-input" type="file" name="my_file">

                            </div>

                        </div>
                    </li>
                </ul>
                <div class="request__btn btn-100">
                    <a href="#" class="a-btn a-btn-disable">Sign up</a>
                </div>
            </form>

        </div>
    </section>

</main>

<footer class="footer">© Copyright © inogda, 2022 Все права защищены</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
<!--<script src="js/libs.min.js"></script>-->
<script src="js/all.js"></script>
</body>
</html>